

<%- include('../partials/header.ejs'); -%>

<%- include('../partials/main_nav.ejs'); -%>
<div class="margin container">
<% if(messages.length > 0) {%>
    <div class="alert alert-danger">
        <%= messages %>
    </div>
<% } %>

<div class="row justify-content-md-center">
    <div class="col-md-4 ">
        <h1 class="text-center">Login</h1>
        <form method="POST" autocomplete="off">
            <fieldset class="form-group ">
                <label for="username">Username: </label>
                <input type="text" class="form-control"
                name="username" placeholder="Enter username"
                id="username" required autofocus>
            </fieldset>
            <br>
            <fieldset class="form-group ">
                <label for="email">Email: </label>
                <input type="email" class="form-control"
                name="email" placeholder="Enter Email"
                id="email" required>
            </fieldset>
            <br>
            <fieldset class="form-group ">
                <label for="password">Password: </label>
                <input type="password" class="form-control"
                name="password" placeholder="Enter password"
                id="password" required>
            </fieldset>
            <br>
            <fieldset class="form-group col-md-12 text-center">
                <input type="submit" class="btn btn-outline-dark" value="Register">
                <a href="/">
                    <input type="button" class="btn btn-outline-danger" value="Cancel">
                </a>
            </fieldset>
        </form>
    </div>
</div>
<br><br><br><br>
</div>
<%- include('../partials/bottom_nav.ejs'); -%> 
<%- include('../partials/footer.ejs'); -%>